/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  margin: 0 auto 15px auto;
}

.gc-container {
  background-color: #F9F9F9;
  padding-top: 10px;
}

.gc-card {
  background-color: #F8FEFC;
  box-shadow: 0px 0px 2px #888888;
  font-size: 12px;
  height: 150px;
  margin-bottom: 10px;
  padding: 10px 10px;
}

.gc-card__header {
  border-bottom: 1px solid #CCC;
  margin: 0 0 10px 0;
  padding-bottom: 10px;
}

.gc-card__header img {
  height: 25px;
  margin-right: 5px;
}

.gc-card__header h3 {
  font-size: 14px;
  display: inline;
}

.gc-card-row {
  margin: 0 0 5px 0;
  /*margin-bottom: 5px;*/
}

.gc-card-row button {
  /*background-color: #DFF6B6;*/
  height: 40px;
  margin-top: 5px;
  width: 100%;
}

/*Clear float after child */
.gc-card-row:after {
  content: "";
  display: table;
  clear: both;
}

.gc-label {
  float:left;
  margin-right: 10px;
}

.gc-content {
  float: left;
}
