<div class="text-center">
  <img src="{{details.squareLogo}}">
</div>
<strong data-ng-if="!details.squareLogo.length">No Image</strong>
<table class="table">
  <tr>
    <td>Company Name:</td>
    <td>{{details.name}}</td>
  </tr>
  <tr>
    <td>Industry</td>
    <td>{{details.industry}}</td>
  </tr>
  <tr>
    <td>Overall Rating</td>
    <td>{{details.overallRating}}</td>
  </tr>
  <tr>
    <td>Culture</td>
    <td>{{details.cultureAndValuesRating}}</td>
  </tr>
  <tr>
    <td>Compensation and Benefits</td>
    <td>{{details.compensationAndBenefitsRating}}</td>
  </tr>
  <tr>
    <td>Senior Leadership</td>
    <td>{{details.seniorLeadershipRating}}</td>
  </tr>
  <tr>
    <td>Would Recommend</td>
    <td>{{details.recommendToFriendRating}}</td>
  </tr>
</table>

