
<form role="form" data-ng-submit="search(txtSearch)">
  <div class="form-group">
    <input type="text"
           class="form-control input-lg"
           placeholder="Enter Company"
           data-ng-model="txtSearch"
           required="true">
  </div>
  <div class="form-group">
    <button type="submit"
            class="btn btn-info btn-lg">
      Submit
    </button>
  </div>
</form>


