<div class="gc-container" data-ng-init="init()">
  <div class="gc-card" data-ng-repeat="result in results.employers">
      <header class="gc-card__header">
        <!--TODO: Use media object-->
        <img data-ng-src="{{result.squareLogo}}">
        <h3>{{result.name}}</h3>
      </header>
      <div class="gc-card-row">
        <div class="gc-label">
          Industry: {{result.industry}}
        </div>
      </div>
      <div class="gc-card-row">
        <div class="gc-label">
          Overall Rating:
        </div>
        <div class="gc-content">
          {{result.overallRating}}
        </div>
      </div>
      <div class="gc-card-row">
        <button class="btn btn-primary" data-ng-click="goTo('/results/details/'+result.name)">
          View {{result.name}}
        </button>
      </div>
  </div>
</div>
